<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">SHOW</button>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary">SHOW</button>
            </div>
        </div>
        <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem unde quia cupiditate impedit beatae nisi deserunt enim nostrum vitae quam suscipit dicta culpa veritatis atque accusantium quos id, autem aperiam voluptas blanditiis similique distinctio officiis quae. Sequi neque ad magni ea commodi molestiae, laudantium repudiandae optio adipisci alias? Nesciunt?
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">SHOW</button>
        </div>
    </div>
    </div>
</div>