<h1>String Interploation</h1>
<table border="1">  
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
        </tr>
        <tr>
            <td>{{book1.id}}</td>
            <td>{{book1.name}}</td>
            <td>{{book1.author}}</td>
            <td>{{book1.price}}</td>
        </tr>
    </tbody>

</table>

  <h1>Property Binding</h1>

  <!-- <input type="text" id="value" name="value"> -->
  <img [src]="imageURL" alt="image" width="500"  height="400">
